*{
	font-family: 'Itim', cursive;
}
body{
	background: linear-gradient(45deg, white 70%, black 190%);


}

.navbar{
	background: linear-gradient(45deg, white 10%, black 400%);
	
}

.logo{
	width:100%;
	height: 10vh;
}
.card:hover {
	box-shadow: 0 0 5px 2px black;
}
.about_me{
	display: flex;
	justify-content: center;
	word-wrap: break-word;
}
.hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}
.show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}
/* .hidden:nth-child() */
.animate:nth-child(1){
	transition-delay: 200ms;
}
.animate:nth-child(2){
	transition-delay: 400ms;
}
.animate:nth-child(3){
	transition-delay: 600ms;
}
.animate:nth-child(4){
	transition-delay: 200ms;
}
.animate:nth-child(5){
	transition-delay: 400ms;
}
.animate:nth-child(6){
	transition-delay: 600ms;
}
.animate:nth-child(7){
	transition-delay: 200ms;
}
.animate:nth-child(8){
	transition-delay: 400ms;
}
.animate:nth-child(9){
	transition-delay: 600ms;
}
.animate:nth-child(10){
	transition-delay: 200ms;
}
.animate:nth-child(11){
	transition-delay: 400ms;
}
.animate:nth-child(12){
	transition-delay: 600ms;
}
